<hr class="">
<div class="container target">
    <div class="row">
      <div class="col-sm-2">
        <%= image_tag 'barber.jpg', class: 'img-circle' %>
      </div>        
      <div class="col-sm-10">
        <h2 ><%=current_company.name %>&nbsp; &nbsp; <i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></h2>
        <%= link_to 'Edit', '#', class: 'btn btn-success'%>
        <%= link_to 'View Calendar', '#', class: 'btn btn-primary'%>
        <%= link_to 'View Public Page', company_path(current_company), class: 'btn btn-primary'%>
        
        <br>
        <br>
        <p>Location: <%= current_company.address%>
        <br />
        Phone: <%= current_company.phone %> </p>
      </div>

    </div>
  <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Activity<i class="fa fa-tachometer pull-right"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="list-subheader">Joined: </strong></span><%= current_company.created_at.strftime("%d %b, %y") %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="list-subheader">Last seen: </strong></span><%= current_company.user.last_sign_in_at.strftime("%d %b, %y") %></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="list-subheader">Representative: </strong></span>Runako Williams</li>
              <li class="list-group-item text-right"><span class="pull-left"><strong class="list-subheader">Role: </strong></span>Barber
               
                      </li>
            </ul>
            <br />
            <ul class="list-group">
                <li class="list-group-item text-muted">Stats<i class="fa fa-line-chart pull-right"></i>

                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="list-subheader">Views:</strong></span> 0</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="list-subheader">Likes:</strong></span> 0</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="list-subheader">Bookings:</strong></span> 0</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong class="list-subheader">Reviews:</strong></span> 0</li>
            </ul>

        </div>
        <!--/col-3-->
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>About <%= link_to 'Edit', '#', class: 'pull-right btn btn-success btn-sm' %></h3></div>
                <br />
                <div class="panel-body"> <p><%= current_company.description %></p>

                </div>
            </div>
            <br />
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false"><h3>Photos <%= link_to 'Add Photos', '#', class: 'pull-right btn btn-success btn-sm' %></h3></div>

<!--                  Carousel goes here  
 -->
            </div>
            <br />
            <br />
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Services 
                    <!-- Button trigger modal -->
                        <button type="button" class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#newServicegroupModal">
                          Add Service Category
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="newServicegroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">×</span>
                                </button>
                                <h6 class="modal-title" id="newServicegroupModal">Add A Service Category</h6>
                              </div>
                            <%= simple_form_for @servicegroup, url: admin_company_servicegroups_path(current_company) do |f| %>
                              <div class="modal-body">
                                <br/>
                                    <%= f.input :title, label: 'Service Group Title', placeholder: "e.g. Hair Braiding" %>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <%= f.submit "Add Service Group", class: 'btn btn-primary' %>
                              </div>
                            <% end %>  
                            </div>
                          </div>
                        </div>
<!--                     Modal ends      -->
                </h3>
            </div> 
                <div class="panel-body"> 
                    <p> 
                        <% current_company.servicegroups.each do |servicegroup| %>
                            <%= servicegroup.title %>
                            <br />
                        <% end %>
                    </p>
                </div>
            </div>
            <br />
            <br />
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Reviews</h3></div>
                <div class="panel-body"> <p>List of reviews</p>
                </div>
            </div>

          </div>


            <div id="push"></div>
        </div>
    </div>