<hr class="">
<div class="container target">
    <div class="row">
      <div class="col-sm-2">
        <%= image_tag 'barber.jpg', class: 'img-circle' %>
      </div>        
      <div class="col-sm-10">
        <h2 ><%=current_company.name %>&nbsp; &nbsp; <i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></h2>
        <% if current_user && current_user == current_company.user %>
          <%= link_to 'View Admin Page', admin_company_path(current_company), class: 'btn btn-success'%>
          <br />
          <br />        
        <% end %>
        <p>Location: <%= current_company.address%>
        <br />
        Phone: <%= current_company.phone %> </p>
      </div>

    </div>
  <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Stats<i class="fa fa-line-chart pull-right"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="list-subheader">Joined: </strong></span><%= current_company.created_at.strftime("%d %b, %y") %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="list-subheader">Likes:</strong></span> 0</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="list-subheader">Total Reviews:</strong></span> 0</li>   
                <li class="list-group-item text-right"><span class="pull-left"><strong class="list-subheader">Average Review:</strong></span> 0</li>             
            </ul>
            <br />

        </div>
        <!--/col-3-->
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>About</h3></div>
                <br />
                <div class="panel-body"> <p><%= current_company.description %></p>

                </div>
            </div>
            <br />
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false"><h3>Photos <%= link_to 'View All', '#', class: 'pull-right btn btn-success btn-sm' %></h3></div>

<!--                  Carousel goes here  
 -->
            </div>
            <br />
            <br />
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Services</h3></div> 
                <div class="panel-body"> <p> List of services</p>
                </div>
            </div>
            <br />
            <br />
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Reviews</h3></div>
                <div class="panel-body"> <p>List of reviews</p>
                </div>
            </div>

          </div>


            <div id="push"></div>
        </div>
        
</div>